h1{
    text-align: center;
    background-color: gray;
    color: white;
}
img{
    width: 300px;
    height: 250px;
}
.name{
    color: gray;
}
.contain{
    display: flex;
    gap: 30px;
}
.paragraph{
    width: 45%;
}
a{
    color: red;
}